@use 'sass:map';
@use '@angular/material' as mat;

@include mat.core();

$custom-orange-palette: map.deep-merge(
  mat.$orange-palette,
  (
    contrast: (
      700: white
    )
  )
);

$meu-app-primary: mat.define-palette($custom-orange-palette, 700);

$meu-app-accent: mat.define-palette(mat.$grey-palette, 200);

$meu-app-warn: mat.define-palette(mat.$red-palette);

$meu-app-theme: mat.define-light-theme((
  color: (
    primary: $meu-app-primary,
    accent: $meu-app-accent,
    warn: $meu-app-warn,
  )
));

.cdk-overlay-container.success-snackbar {
  .mdc-snackbar__surface {
    --mdc-snackbar-container-color: #4CAF50;
  }
  .mdc-snackbar__label, .mat-mdc-button.mat-unthemed {
    color: white;
  }
}

.cdk-overlay-container.error-snackbar {
  .mdc-snackbar__surface {
    --mdc-snackbar-container-color: #f44336;
  }
  .mdc-snackbar__label, .mat-mdc-button.mat-unthemed {
    color: white;
  }
}

@include mat.all-component-themes($meu-app-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }